.sectionWrapper {
  position: relative;
  scroll-snap-align: center;
  height: 100vh;
}
.scrollWrapper {
  scroll-snap-type: y mandatory;
  height: 100dvh;
  overflow: auto;
}

@media (max-width: 700px) {
  .title {
    font-size: 3rem;
  }
}
