@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.hero {
  height: 100svh;
  text-align: center;
  padding-top: 10vh;
}
.title {
  font-family: 'Dancing Script', cursive;
  font-size: 7rem;
  margin-bottom: 2rem;
}
